@tailwind base;
@tailwind components;
@tailwind utilities;

.active_link {
  @apply border-default-color;
}

.h_16 {
  @apply h-16;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[70rem] m-auto px-6;
}

section {
  @apply py-10 overflow-hidden;
}

img {
  @apply max-w-[20rem];
}

.cars_bg {
  background-image: url(../images/section_one/fleet-bg-hp1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

.car_overlay:hover .round_btn {
  @apply opacity-100;
}

/* About */
.about_bg {
  background-image: url(../images/about/about-us-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

/* Service */
.service_bg {
  background-image: url(../images/service/service-title-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

/* Main */
.one {
  background-image: url(../images/main/slider-item-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.two {
  background-image: url(../images/main/slider-item-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three {
  background-image: url(../images/main/slider-item-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Car slider */
.left_0 {
  @apply left-0;
}
/* Swiper Slider */

/* Swiper Slider */
.swiper-pagination-bullet {
  @apply h-4 w-4 rounded-full bg-slate-50;
}

.next,
.prev {
  @apply mx-1 h-20 w-20 leading-10 text-slate-50;
}

main:hover .next,
main:hover .prev,
main:hover .swiper-pagination {
  @apply opacity-100;
}

@media (max-width: 640px) {
  .next,
  .prev {
    @apply m-0 h-8 w-8;
  }
}
