@tailwind base;
@tailwind components;
@tailwind utilities;

.active_link {
  @apply border-default-color;
}

.h_16 {
  @apply h-16;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[70rem] m-auto px-6;
}

section {
  @apply py-10 overflow-hidden;
}

img {
  @apply max-w-[40rem];
}


/*------========------INDEX PAGE------========------  */
.cars_bg {
  background-image: url(../images/section_one/fleet-bg-hp1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

.car_overlay:hover .round_btn {
  @apply opacity-100;
}

/* About */
.about_bg {
  background-image: url(../images/about/about-us-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

/* Service */
.service_bg {
  background-image: url(../images/service/service-title-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

/* Main */
.one {
  background-image: url(../images/main/slider-item-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.two {
  background-image: url(../images/main/slider-item-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three {
  background-image: url(../images/main/slider-item-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Car slider */
.left_0 {
  @apply left-0;
}

/* Swiper Slider */
.swiper-pagination-bullet {
  @apply h-4 w-4 rounded-full bg-slate-50;
}

.next,
.prev {
  @apply mx-1 h-20 w-20 leading-10 text-slate-50;
}

main:hover .next,
main:hover .prev,
main:hover .swiper-pagination {
  @apply opacity-100;
}

@media (max-width: 640px) {
  .next,
  .prev {
    @apply m-0 h-8 w-8;
  }
}

/*------========------RATE PAGE------========------  */
/* About */
.rate_main_bg {
  background-image: url(../images/main/rate-main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about_bg {
  background-image: url(../images/about/about-us-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.polygon {
  clip-path: polygon(50% 80%, 100% 65%, 100% 0, 0 0, 0 65%);
}


/*------========------ABOUT PAGE------========------  */

.about_main_bg {
  background-image: url(../images/main/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}
.about_skill_bg {
  background-image: url(../images/skill/skill-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

.car_overlay:hover .round_btn {
  @apply opacity-100;
}

/* Progress Bar */
.item_1 .progress-value {
  animation: nineZero 3s normal forwards;
}
.item_2 .progress-value {
  animation: hundred 3s normal forwards;
}
.item_3 .progress-value {
  animation: nineFive 3s normal forwards;
}
.item_4 .progress-value {
  animation: hundred 3s normal forwards;
}

@keyframes nineZero {
  0% { width: 0; }
  100% { width: 90%; }
}
@keyframes nineFive {
  0% { width: 0; }
  100% { width: 95%; }
}
@keyframes hundred {
  0% { width: 0; }
  100% { width: 100%; }
}